<nav class="navbar navbar-expand-lg navbar-light">
	<h3>List of prohibited words:</h3>
</nav>

<div class="all">
	<div class="container">

		<div class="row">
			<span class="col-3">
				Bad words:
			</span>
			<span class="col">
				{{ allWords }}
			</span>
		</div>

		<div class="form-group">
			<div class="form-row">
				<div class="col-8">
					<input type="text" class="form-control" [class] = "classWord" [placeholder] = "myPlaceholderWord" aria-label="Recipient's username with two button addons" aria-describedby="button-addon4" [(ngModel)]="word" name="word">
				</div>
				<div class="col">
					<button type="button" class="btn btn-warning" (click)="addingWord()">Add</button>
				</div>
				<div class="col">
					<button type="button" class="btn btn-danger" (click)="resetAll()">Reset</button>
				</div>
			</div>
		</div>

		<div class="form-group">
			<textarea id="" [placeholder]="myPlaceholderText" class="form-control" [class]="classText" rows="3" [(ngModel)]="text" name="text">
				{{ text }}
			</textarea>
		</div>

		<div class="form-group">
			<button type="button" class="btn btn-success col-12" (click)="cenzor()">Cenzor</button>
		</div>

	</div>
</div>
