// @mixin font($font_name, $folder_name, $file_name, $weight, $style) {
// 	@font-face {
// 		font-family: $font_name;
// 		font-display: swap;
// 		src: url("../fonts/#{$folder_name}/#{$file_name}.woff") format("woff"),
// 		url("../fonts/#{$folder_name}/#{$file_name}.woff2") format("woff2");
// 		font-weight: #{$weight};
// 		font-style: #{$style};
// 	}
// }

@mixin text($family, $style, $color, $weight, $size, $ln-height) {
	font-family: $family;
	font-style: $style;
	color: $color;
	font-weight: $weight;
	font-size: $size;
	line-height: $ln-height;
}

@mixin flex($dspl, $fl-fl, $just-cont, $al-itm, $al-cont) {
	display: $dspl;
	flex-flow: $fl-fl;
	justify-content: $just-cont;
	align-items: $al-itm;
	align-content: $al-cont;
}

@mixin col-steps($width, $max-width, $height, $paddig) {
	width: $width;
	max-width: $max-width;
	height: $height;
	padding: $paddig;
}

@mixin img-bg-sports($width, $m-width, $height) {
	width: $width;
	max-width: $m-width;
	height: $height;
}
