<nav class="navbar">
  <h3>Angular users task</h3>
</nav>

<div class="container d-flex">
  <div class="col-6">
    <form>
      <div class="form-group">
        <label for="login-input">Login</label>
        <input [(ngModel)]="loginValue" name="loginValue" id="login-input" class="form-control" type="text"
          placeholder="Enter login">
      </div>
      <div class="form-group">
        <label for="passord-input">Passord</label>
        <input [(ngModel)]="passwordValue" name="passwordValue" id="passord-input" class="form-control" type="password"
          placeholder="Enter passord">
      </div>
      <div class="form-group">
        <label for="email-input">Email address</label>
        <input [(ngModel)]="emailValue" name="emailValue" id="email-input" class="form-control" type="email"
          placeholder="Enter email">
      </div>
      <input *ngIf="!editSaveBtn" (click)="addUser()" class="btn btn-success col" type="button" value="Edit user">
      <input *ngIf="editSaveBtn" (click)="saveUser()" class="btn btn-primary col" type="button" value="Save edit user">
    </form>
  </div>

  <table class="table col-6">
    <thead>
      <tr>
        <th>#</th>
        <th>Login</th>
        <th>Password</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of arrayUsers; let i = index">
        <th>{{ i + 1 }}</th>
        <td>{{ user.login }}</td>
        <td>{{ user.password }}</td>
        <td>{{ user.email }}</td>
        <td><input (click)="editUser(i)" type="button" class="btn btn-warning" value="Edit"></td>
        <td><input (click)="deleteUser(i)" type="button" class="btn btn-danger" value="Delete"></td>
      </tr>
    </tbody>
  </table>
</div>
