<div class="d-flex flex-row justify-content-around " style="margin-top: 160px;">
  <div class="card " style="width: 18rem;">
    <img src="../../assets/images/cenzor.png" alt="cenzor task img">
    <div class="card-body">
      <h6 class="card-title text-danger text-center">Angular list of prohibited words</h6>
      <a class="btn btn-success col" routerLink="/works/cenzor" routerLinkActive="active">details</a>
    </div>
  </div>
  <div class="card " style="width: 18rem;">
    <img src="../../assets/images/userlist.png" alt="userlist task img">
    <div class="card-body">
      <h6 class="card-title text-danger text-center">Angular users list</h6>
      <a class="btn btn-success col" routerLink="/works/userlist" routerLinkActive="active">details</a>
    </div>
  </div>
  <div class="card " style="width: 18rem;">
    <img src="../../assets/images/tasklist.png" alt="tasklist task img">
    <div class="card-body">
      <h6 class="card-title text-danger text-center">Angular tasks list</h6>
      <a class="btn btn-success col" routerLink="/works/tasklist" routerLinkActive="active">details</a>
    </div>
  </div>
  <div class="card " style="width: 18rem;">
    <img src="../../assets/images/contactlist.png" alt="contactlist task img">
    <div class="card-body">
      <h6 class="card-title text-danger text-center">Angular contacts list</h6>
      <a class="btn btn-success col" routerLink="/works/contactlist" routerLinkActive="active">details</a>
    </div>
  </div>
</div>
