<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand text-white" routerLink="/works/site/site-home">Dark Pizza</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto ml-3">
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/works/site/site-home" routerLinkActive="active">Home</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/works/site/site-products" routerLinkActive="active">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/works/site/site-blog" routerLinkActive="active">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/works/site/site-about" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/works/site/site-admin" routerLinkActive="active">admin</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
