<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    Product
    <button class="btn btn-dark col-2" type="button" (click)="lgModal.show(); resetInputs()">Add</button>
  </div>
  <div class="card-body">
    <input class="form-control" type="text" placeholder="filter product.." [(ngModel)]="search" name="search">

    <hr style="border: 0px;">

    <table class="table table-bordered table-sm small">
      <tbody>
        <tr class="bg-light text-muted">
          <th [ngClass]="arrowOrderNumberDirection ? 'text-dark' : ''" style="width: 40px; cursor: pointer;"
            (click)="orderByFunction('arrowOrderNumberDirection', 'id')">
            #
            <i [class]="arrowOrderNumberDirection"></i>
          </th>
          <th [class]="arrowCategoryNameDirection ? 'text-dark' : ''" style="width: 125px; cursor: pointer;"
            (click)="orderByFunction('arrowCategoryNameDirection', 'category')">
            Category Name
            <i [class]="arrowCategoryNameDirection"></i>
          </th>
          <th [class]="arrowNameEnDirection ? 'text-dark' : ''" style="width: 90px; cursor: pointer;"
            (click)="orderByFunction('arrowNameEnDirection', 'nameEN')">
            Name EN
            <i [class]="arrowNameEnDirection"></i>
          </th>
          <th [class]="arrowNameUaDirection ? 'text-dark' : ''" style="width: 90px; cursor: pointer;"
            (click)="orderByFunction('arrowNameUaDirection', 'nameUA')">
            Name UA
            <i [class]="arrowNameUaDirection"></i>
          </th>
          <th [class]="arrowDescriptionDirection ? 'text-dark' : ''" style=" cursor: pointer;"
            (click)="orderByFunction('arrowDescriptionDirection', 'description')">
            Description
            <i [class]="arrowDescriptionDirection"></i>
          </th>
          <th [class]="arrowWeightDirection ? 'text-dark' : ''" style="width: 75px; cursor: pointer;"
            (click)="orderByFunction('arrowWeightDirection', 'weight')">
            Weight
            <i [class]="arrowWeightDirection"></i>
          </th>
          <th [class]="arrowPriceDirection ? 'text-dark' : ''" style="width: 60px; cursor: pointer;"
            (click)="orderByFunction('arrowPriceDirection', 'price')">
            Price
            <i [class]="arrowPriceDirection"></i>
          </th>
          <th style="width: 70px;">Image</th>
          <th style="width: 55px;">Edit</th>
          <th style="width: 70px;">Delete</th>
        </tr>
        <tr *ngFor="let product of productsArray | searchProductHw19:search | orderBy: order: reverseStatus;">
          <!-- <th>{{ numeberingStatus ? adminCategoriesArray.length-i : i+1 }}</th> -->
          <td>{{ product.id }}</td>
          <td>{{ product.category.nameEN }}</td>
          <td>{{ product.nameEN }}</td>
          <td>{{ product.nameUA }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.weight }}</td>
          <td>{{ product.price }}</td>
          <td class="d-flex justify-content-center border-0">
            <img [src]="product.image" alt="" width="40px" height="40px"
              (click)="smModalImage.show(); productImage = product.image" style="cursor: pointer;">
          </td>
          <td>
            <button class="btn btn-dark btn-sm" type="button"
              (click)="lgModal.show(); getEditedProductId(product)">Edit</button>
          </td>
          <td>
            <button class="btn btn-dark btn-sm" type="button"
              (click)="smModal.show(); getDeletedProductId(product.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!--Large modal-->
<div bsModal #lgModal="bs-modal" class="modal fade " tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <!-- ! /////////// -->
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Product modal</h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form class="small">
          <label for="categoryChoose">Choose category</label>
          <select class="form-control form-control-sm" [(ngModel)]="categoryName" name="categoryName"
            (change)="setCategory()" id="categoryChoose">
            <!-- <option selected disabled>choose category here..</option> -->
            <option *ngFor="let category of categoriesArray">
              {{ category.nameEN }}
            </option>
          </select>
          <div class="form-group mt-2">
            <label for="productNameEN">Name EN</label>
            <input type="text" class="form-control form-control-sm" id="productNameEN" [(ngModel)]="productNameEN"
              name="productNameEN">
          </div>
          <div class="form-group">
            <label for="productNameUA">Name UA</label>
            <input type="text" class="form-control form-control-sm" id="productNameUA" [(ngModel)]="productNameUA"
              name="productNameUA">
          </div>
          <div class="form-group">
            <label for="productDescription">Description</label>
            <textarea [(ngModel)]="productDescription" name="productDescription" id="productDescription"
              class="form-control form-control-sm" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label for="productWeight">Weight</label>
            <input type="text" class="form-control form-control-sm" id="productWeight" [(ngModel)]="productWeight"
              name="productWeight">
          </div>
          <div class="form-group">
            <label for="productPrice">Price</label>
            <input type="number" class="form-control form-control-sm" id="productPrice" [(ngModel)]="productPrice"
              name="productPrice">
          </div>
          <div class="form-group" *ngIf="!imageStatus">
            <label for="productImage">Image</label>
            <input #inputFile (change)='uploadFile($event)' type="file" class="form-control form-control-sm"
              id="productImage" aria-label="file example">
          </div>
          <div class="progress mb-3" *ngIf="!imageStatus">
            <div class="progress-bar progress-bar-striped bg-dark" role="progressbar"
              [style.width]="uploadProgressStatus ? (uploadProgress | async) + '%' : '0' + '%'" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <div class="image mb-3" *ngIf="imageStatus" style="position: relative;">
            <div class="mb-2">
              Image
            </div>
            <img [src]="productImage" class="" style="width: 200px;">
            <button type="button" class="close" style="position: absolute; left: 188px; top: 10px; color: red;"
              (click)="resetImage()" aria-label="Close">
              <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                class="bi bi-x-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path
                  d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
              </svg>
            </button>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
          (click)="lgModal.hide(); resetInputs(); ">Close</button>
        <button type="button" class="btn btn-dark" (click)="addProduct(lgModal);">Add</button>
        <!-- ! [disabled]="nameEN.trim() == '' || nameUA.trim() == ''" -->
      </div>
    </div>
  </div>
</div>



<!--Small modal-->
<div bsModal #smModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name2">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-row">
          <div class="col-6">
            <button type="button" class="btn btn-dark col" (click)="smModal.hide()">Dismiss</button>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-danger col" (click)="deletePruduct()"
              (click)="smModal.hide()">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Small modal #2-->
<div bsModal #smModalImage="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-sizes-name2">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <img [src]="productImage" class="" style="width: 100%;">
      </div>
    </div>
  </div>
</div>
