<nav class="navbar navbar-expand navbar-light">
  <h3>Angular users task</h3>
</nav>

<div class="container d-flex">
  <div class="col-6">
    <form>
      <div class="form-group">
        <label for="validationCustom01">Login</label>
        <input
          [(ngModel)]="logVal"
          name="logVal"
          type="text"
          class="form-control"
          id="validationCustom01"
          placeholder="Enter login"
          required
        />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input
          [(ngModel)]="passVal"
          name="passVal"
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Enter password"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input
          [(ngModel)]="emVal"
          name="emVal"
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter email"
        />
      </div>
      <input
        *ngIf="addUserBtn"
        (click)="addUser()"
        type="button"
        class="btn btn-success col"
        value="Add user"
      />
      <input
        *ngIf="editUserBtn"
        (click)="saveEditUser()"
        type="button"
        class="btn btn-success col"
        value="Edit user"
      />
    </form>
  </div>

  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Login</th>
          <th scope="col">Password</th>
          <th scope="col">Email</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <!-- <tbody [innerHTML] = "tableRow"></tbody> -->
      <tbody (click)="deleteEditBtns(e)">
        <tr *ngFor="let user of arrayUsers; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ user.login }}</td>
          <td>{{ user.password }}</td>
          <td>{{ user.email }}</td>
          <td>
            <input
              (click)="editUser(i)"
              type="button"
              class="btn btn-warning"
              value="Edit"
            />
          </td>
          <td>
            <input
              (click)="deleteUser(i)"
              type="button"
              class="btn btn-danger"
              value="Delete"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
