<!-- <app-hw11></app-hw11> -->
<!-- <app-hw12></app-hw12> -->

<!-- <nav class="navbar navbar-expand-lg navbar-light">
	<h3>Angular tasks list</h3>
</nav>
<div class="container">
  <h3>Count of tasks: {{ arrayObjTasks.length }}</h3>
  <hr>
  <form>
    <div class="form-row">
      <div class="col">
        <input type="text" class="form-control" [(ngModel)]="task" name="task">
      </div>
      <div class="col-2">
        <input type="button" value="Add" class="col btn btn-success" (click)="addTask()">
      </div>
    </div>
  </form>
  <br>
</div>
<app-hw13 [arrayObjTasksFromParent]="arrayObjTasks"></app-hw13> -->

<!-- <app-hw14-pipes></app-hw14-pipes> -->

<app-header></app-header>
<router-outlet></router-outlet>
<!-- <app-footer></app-footer> -->
